<footer class="page-footer white">
    <div class="row green accent-3 pink-text text-accent-2">
        <div class="col s10">
            <h6>Don't just track your symptoms.  Trackle them.</h6>
        </div>
    </div>
    <div class="row mobile-extender section pink accent-2 white-text">
        <div class="col s10">
            Proudly built with ❤ in Durham, NC
        </div>
        <div class="right">
            © 2021 &nbsp;
        </div>
    </div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>