<header>
    <nav>
        <div class="nav-wrapper green accent-3">
            <a href="/" class="brand-logo">
                &nbsp; Symptom Tracker
            </a>
            <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="/"><i class="material-icons right">edit</i>Recorder</a></li>
                <li><a href="/graph"><i class="material-icons right">insert_chart</i>Viewer</a></li>
                <li><a href="/login"><i class="material-icons right">logout</i>Logout</a></li>
            </ul>
        </div>
    </nav>

    <ul id="sidenav" class="sidenav pink accent-2">
        <li class="active"><a href="/" class="white-text"><i class="material-icons white-text left">edit</i>Recorder</a></li>
        <li><a href="/graph" class="white-text"><i class="material-icons white-text left">insert_chart</i>Viewer</a></li>
        <li><a href="/login" class="white-text"><i class="material-icons white-text left">logout</i>Logout</a></li>
    </ul>

</header>

<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    
    var options = {};
    var instances = M.Sidenav.init(elems, options);
});

</script>