<title>Trackle - Symptom Tracker</title>
<meta name="viewport" content="width=device-width, initial-scale=3.0, maximum-scale=5.0, minimum-scale=1.0">
<meta charset="UTF-8">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
