<div class="row">
    <div class="col left">
        <%- include("../partials/backdating"); %>
    </div>
    <div class="col right">
        <button class="btn pink accent-2 waves-effect waves-light" type="submit">
            Record
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>