/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/* Remove whitespace above and below footer rows */
footer .row {
    margin-bottom: 0px;
}

footer .row.mobile-extender {
    padding-bottom: 70px;
}