/* Change the slider background and thumb colors */
input[type=range]::-webkit-slider-thumb {
    background-color: #f50057;
}
input[type=range]::-moz-range-thumb {
    background-color: #f50057;
}
input[type=range]::-ms-thumb {
    background-color: #f50057;
}
input[type=range] + .thumb {
    background-color: #dedede;
}
input[type=range] + .thumb.active .value {
    color: #f50057;
}

/* Toast position moved up from very bottom on mobile */
@media only screen and (max-width : 601px) {
#toast-container {
    min-width: 80%;
    bottom: 20%;
    top: 70%;
    right: 5%;
    left: 5%; 
} }