<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <link href="/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>

    <%- include("../partials/header"); %>

    <main class="container">

        <form action="#">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons pink-text text-accent-2">signal_cellular_connected_no_internet_4_bar</i>Pain</div>
                    <div class="collapsible-body">

                        <div class="row">
                            Enter your pain level, darling:
                        </div>
                
                        <div class="row">
                            <p class="range-field">
                                <input type="range" id="pain-level" min="0" max="10" class="" />
                            </p>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons pink-text text-accent-2">filter_drama</i>Gas</div>
                    <div class="collapsible-body">

                        <div class="row">
                            Are you gassy, my love?
                        </div>
                
                        <div class="row">
                            <p class="range-field">
                                <input type="range" id="pain-level" min="0" max="10" class="" />
                            </p>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons pink-text text-accent-2">whatshot</i>Poop</div>
                    <div class="collapsible-body">

                        <div class="row">
                            Did you poop, my dear?
                        </div>
                
                        <div class="row">
                            <p class="range-field">
                                <input type="range" id="pain-level" min="0" max="10" class="" />
                            </p>
                        </div>

                    </div>
                </li>
            </ul>
        </form>

        <div class="row">
            <div class="col right">
                <button class="btn pink accent-2 waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </main>

    <%- include("../partials/footer"); %>

</body>

<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {
    let elems = document.querySelectorAll('.collapsible');
    
    let options = {};
    let instances = M.Collapsible.init(elems, options);
});

</script>

</html>