<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
    <link href="/css/footer.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
</head>

<body>

    <%- include("../partials/header", { selectedTab: "viewer" }); %>

    <main class="container">
        <br>
        <!-- <p>Your tracked values:</p> -->
        <div id="toast-chart"></div>

        <p>Showing all your recorded events:</p>

        <pre id="allmetrics">[ Loading... ]</pre>

    </main>

    <%- include("../partials/footer"); %>

</body>

<script type="text/javascript">

const BASELINE_TEMPERATURE = 95;

document.addEventListener("DOMContentLoaded", async function() {
    // From/To date and time pickers
    // let elems = document.querySelectorAll(".datepicker");
    // M.Datepicker.init(elems, { format: "yyyy-mm-dd" });

    // Load all metrics and display in the allMetrics div
    try {
        const response = await fetch("/metrics");
        if (response.ok) {
            console.log("response contains metrics json:");
            const allMetrics = await response.json();
            console.log(allMetrics);

            document.getElementById("allmetrics").innerText = JSON.stringify(allMetrics, null, 2); //await response.text();

            // Initialize the Toast-UI chart
            initLineChart(allMetrics);
        }
    } catch (error) {
        console.log("Fetch error: ", error);
    }
});



function initLineChart(allMetrics) {
    const el = document.getElementById("toast-chart");

    const data = {
        series: []
    };

    let painData = {
        name: 'Pain',
        data: []
    };
    let gasData = {
        name: 'Gas',
        data: []
    };
    let poopData = {
        name: 'Poop',
        data: []
    };
    let stressData = {
        name: 'Stress',
        data: []
    };
    let tempData = {
        name: 'Temperature',
        data: []
    };

    for (let i=0; i < allMetrics.length; i++) {
        let m = allMetrics[i];
        if (m.type === "pain") {
            painData.data.push([
                m.time,
                m.metrics.level
            ]);
        } else if (m.type === "gas") {
            gasData.data.push([
                m.time,
                m.metrics.level
            ]);
        } else if (m.type === "poop") {
            poopData.data.push([
                m.time,
                calculatePoopLevelFromMetrics(m.metrics)
            ]);
        } else if (m.type === "stress") {
            stressData.data.push([
                m.time,
                m.metrics.level
            ]);
        } else if (m.type === "temp") {
            tempData.data.push([
                m.time,
                m.metrics.level - BASELINE_TEMPERATURE
            ]);
        }
    }

    data.series.push(painData);
    data.series.push(gasData);
    data.series.push(poopData);
    data.series.push(stressData);
    data.series.push(tempData);

    console.log("Computed data from metrics:");
    console.log(data);

    const options = {
        chart: { title: "Your tracked values:", width: 800, height: 500 },
        xAxis: { pointOnColumn: true, title: 'Time', date: { format: 'MM/dd hh:mm' }, },
        yAxis: { title: 'Level' },
        series: { eventDetectType: 'point', zoomable: true }
    };

    const chart = toastui.Chart.lineChart({ el, data, options });
}

function calculatePoopLevelFromMetrics(metrics) {
    let level = 0;
    if (metrics.pooped === true) {
        level = metrics.consistency;

        if (metrics.urgent === true) level++;
        if (metrics.explosive === true) level++;
        if (metrics.blood === true) level++;
    }
    
    // Consider adding 1-3 points for duration/10 mins.
    // This would allow decoy poops to get a level > 0.

    return level;
}

//Examples

function initExampleColumnChart() {
    const el = document.getElementById("toast-chart");

    const data = {
        categories: ['Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        series: [
            {
            name: 'Budget',
            data: [5000, 3000, 5000, 7000, 6000, 4000, 1000],
            },
            {
            name: 'Income',
            data: [8000, 4000, 7000, 2000, 6000, 3000, 5000],
            },
        ]
    };
    const options = {
        chart: { width: 700, height: 400 },
        usageStatistics: false,
        zoomable: true
    };

    const chart = toastui.Chart.columnChart({ el, data, options });
}

</script>

</html>